/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "zmk-helpers/helper.h"
#include "zmk-helpers/unicode-chars/german.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  | 2(!)| 2(@)|  3(#)|  4($)| 5 (%)|                   |  6(^)|  7(&) |  8(*) |  9(()|  0 ())|   `(~)|
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "1"  |  |  "2"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  |      |  SPACE |  | ENTER | BSPC |  ~    | GUI   |
            //

            display-name = "0";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4        &kp N5                          &kp N6         &kp N7  &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R         &kp T                           &kp Y          &kp U   &kp I      &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D     &kp F         &kp G                           &kp H          &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V         &kp B     &mo 1        &mo 2    &kp N          &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LALT  &kp LEFT_GUI  &kp LGUI  &kp SPACE    &kp RET  &kp BACKSPACE  &mo 2   &kp RGUI
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | KP_N7 | KP_N8 | KP_N9 | KP_SLASH     | DE_AE|      |                   |      |       |       |      |       |       |
            // | KP_N4 | KP_N5 | KP_N6 | KP_ASTERISK  | DE_UE|      |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // | KP_N1 | KP_N2 | KP_N3 | KP_SUBTRACT  | DE_OE|      |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       | KP_N0 |       | KP_PLUS      | DE_SZ|      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                         |              | DE_SEC|      |        |  |       |      | vol-  | vol + |

            display-name = "1";
            bindings = <
&kp KP_N7  &kp KP_N8  &kp KP_N9   &kp KP_SLASH     &de_ae  &trans                    &trans     &trans        &trans           &trans            &trans             &kp DEL
&kp KP_N4  &kp KP_N5  &kp KP_N6   &kp KP_ASTERISK  &de_ue  &trans                    &trans     &kp DOLLAR    &kp EQUAL        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp KP_EQUAL
&kp KP_N1  &kp KP_N2  &kp KP_N3   &kp KP_SUBTRACT  &de_oe  &trans                    &kp CARET  &kp AMPS      &kp KP_MULTIPLY  &kp LPAR          &kp RPAR           &kp TILDE
&trans     &kp KP_N0  &kp PERIOD  &kp KP_PLUS      &de_sz  &trans  &trans    &trans  &trans     &kp MINUS     &kp KP_PLUS      &kp LBRC          &kp RBRC           &kp PIPE
                                  &trans           &de_sec  &trans  &trans    &trans  &trans     &kp K_VOL_DN  &kp K_VOL_UP
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       | PSCRN |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "2";
            bindings = <
&trans     &trans  &trans  &trans   &trans   &trans                     &trans          &trans          &trans        &trans           &trans    &kp PSCRN
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                     &kp N6          &kp N7          &kp N8        &kp N9           &kp N0    &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans    &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &kp KP_PLUS     &kp MINUS       &kp EQUAL     &kp LBKT         &kp RBKT  &kp BSLH
                           &trans   &trans   &trans   &trans    &trans  &trans          &trans          &trans
            >;
        };
    };
};
